<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.archive">

    <application
        android:name=".copo.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".copo.ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".copo.ui.login.LoginActivity" />
        <activity android:name=".copo.ui.main.MainActivity" />
        <activity android:name=".copo.ui.signup.SignUpActivity" />
        <activity android:name=".copo.ui.eventList.EventListActivity" />
        <activity android:name=".copo.ui.createEvent.CreateEventActivity" />
        <activity android:name=".copo.ui.attendanceList.AttendanceListActivity" />
        <activity android:name=".copo.ui.joinEvent.JoinEventActivity" />
    </application>

</manifest>